@import "../../../../styles/base/mixins";

.root {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
}

.body {
	flex: 1 1 auto;
}

.actions {
	display: flex;
	column-gap: rem(10);
}

.button {
	flex: 1 1 50%;
	padding: rem(10);
	color: var(--color-input-font);
	font-weight: 500;
	font-family: var(--font-first);
	background-color: var(--color-tertiary);
	border-radius: var(--min-border);
	transition: color 0.1s ease 0s;

	&:hover {
		color: var(--color-main);
	}
}
