@import '../../../../styles/base/mixins';

.root {
	overflow-y: auto;
	border-radius: var(--min-border);
	padding: rem(10);
	min-height: 100%;
}

.containerWithoutMaxWidth {
}

.body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(25);
}

.item {
}
