@import '../../../../styles/base/mixins';

.root {
	margin-top: rem(25);
	margin-left: rem(25);
	border-radius: var(--min-border);
	padding: rem(10);
	min-height: 100%;
	background-color: transparentize($color: #202023, $amount: 0.05);
}

.containerWithoutMaxWidth {
}

.body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(25);
}

.item {
}
