@import '../../../../styles/base/mixins';
@import '../../../../styles/vars/forMixins';

.root {
	overflow-y: auto;
	border-radius: var(--min-border);
	padding: rem(10);
	min-height: 100%;
}

.containerWithoutMaxWidth {
}

.body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(25);

	@media (max-width: $tablet) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $mobileSmall) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.item {
}
