@import "../../../../styles/base/mixins";

.root {
	display: flex;

	min-height: 100%;
	align-items: center;
}

.container {
	display: flex;

	max-width: rem(600);
	flex: 1 1 rem(600);
	justify-content: center;
}

.body {
	display: flex;

	min-height: rem(220);
	flex: 1 1 auto;
	flex-direction: column;
}

.title {
	font-weight: 600;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: rem(15);
	}
	@include adaptiveValue("font-size", 26, 18);
}

.formBody {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	row-gap: rem(15);

	&:not(:last-child) {
		margin-bottom: rem(15);
	}
}

.button {
	display: inline-flex;
	align-items: center;
	align-self: center;
	justify-content: center;

	padding: rem(10) rem(15);
	border: rem(2) solid var(--color-main);
	border-radius: var(--min-border);

	font-family: var(--font-second);
	font-weight: 500;
	transition: all 0.3s ease 0s;

	&:hover {
		background-color: var(--color-main);
		color: var(--color-tertiary);
	}
}
