@import "../../../../styles/base/mixins";

.root {

	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}

.input {
}

.label {
	display: inline-flex;

	min-width: 100%;
	align-items: center;
	padding: rem(10);
	border-radius: var(--min-border);
	background-color: var(--color-tertiary);
	color: var(--color-input-font);

	cursor: pointer;

	font-weight: 500;
	transition: color 0.3s ease 0s;

	&:hover {
		color: var(--color-main);
	}
}
