@import "../../../../styles/base/mixins";

.root {
	display: inline-block;

	max-width: rem(290);
	padding: rem(5) rem(10);
	border: rem(2) solid var(--color-main);
	background-color: transparent;
	color: var(--color-main);

	font-weight: 500;
}
