@import '../../../../styles/base/mixins';

.root {
	display: inline-block;
	border: rem(2) solid var(--color-main);
	padding: rem(5) rem(10);
	max-width: rem(400);
	font-weight: 500;
	color: var(--color-main);
	background-color: transparent;
}
