@import "../../../../styles/base/mixins";

.root {
	height: 100%;
}

.body {
	display: flex;
	height: 100%;
}

.left {
	flex: 1 1 73%;

	&:not(:last-child) {
		padding-right: rem(15);
	}
}

.right {
	flex: 1 1 27%;
	height: calc(100% + rem(15));
	margin-top: rem(-15);
	padding: rem(45);
	background: linear-gradient(var(--color), #040308 80%);
}

.rightBody {
	display: flex;
	flex-direction: column;
}

.image {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	span {
		box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	}

	&:not(:last-child) {
		margin-bottom: rem(25);
	}
}

.title {
	@include adaptiveValue("font-size", 24, 20);

	font-weight: 700;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: rem(50);
	}
}

.trackList {
	list-style-type: none;
	counter-reset: track-counter;
}

.trackItem {
	position: relative;
	padding-left: rem(40);
	font-weight: 500;

	&:not(:last-child) {
		margin-bottom: rem(25);
	}

	&::before {
		position: absolute;
		top: 1px;
		left: 0;
		color: var(--color-gray);
		font-weight: 500;
		content: counter(track-counter);
		counter-increment: track-counter;
	}

	&::after {
		position: absolute;
		top: 1px;
		right: 0;
		color: var(--color-gray);
		font-weight: 500;
		content: "3:30";
	}
}
