@import "../../../../styles/base/mixins";

.root {
	height: 100%;
}

.body {
	display: flex;

	height: 100%;
}

.left {
	flex: 1 1 73%;

	&:not(:last-child) {
		padding-right: rem(15);
	}
}

.right {
	height: calc(100% + rem(15));
	flex: 1 1 27%;
	padding: rem(45);
	margin-top: rem(-15);
	background: linear-gradient(var(--color), #040308 80%);
	transition: background 0.3s ease 0s;
}

.rightBody {
	display: flex;
	flex-direction: column;
}

.image {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	span {
		box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
	}

	&:not(:last-child) {
		margin-bottom: rem(25);
	}
}

.title {
	font-weight: 700;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: rem(50);
	}
	@include adaptiveValue("font-size", 24, 20);
}

.trackList {
	counter-reset: track-counter;
	list-style-type: none;
}

.trackItem {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-left: rem(40);

	&:not(:last-child) {
		margin-bottom: rem(25);
	}

	&::before {
		position: absolute;
		top: 1px;
		left: 0;
		color: var(--color-gray);
		content: counter(track-counter);
		counter-increment: track-counter;

		font-weight: 500;
	}
}

.trackName {
	font-weight: 500;
}

.trackTime {
	color: var(--color-gray);
	font-weight: 500;
}
