@import "../../../../styles/base/mixins";

.root {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - rem(15));
	max-width: rem(475);
	height: 100%;
	padding: rem(5);
	border-radius: var(--min-border);
	background-color: rgba(var(--color-background-rgb), 0.8);
	color: var(--color-font);

	transform: translate(-50%, -50%);
	@include adaptiveValue("max-height", 320, 240);
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: blur(rem(10));
	background-color: rgba(var(--color-background-dark-rgb), 0.9);
}
