@import "../../../../styles/base/mixins";

.root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: rem(32);
	height: rem(32);

	&:hover {
		svg {
			fill: var(--color-main);
		}
	}

	svg {
		width: rem(18);
		height: rem(18);
		transition: fill 0.3s ease 0s;
		fill: var(--color-font);
	}
}
