:root {
	--color-font: #fff;
	--color-main: #ebe5dc;
	--color-first: #805ad5;
	--color-second: #a46bff;
	--color-second-rgb: 240, 231, 219;
	--color-tertiary: #222;
	--color-background: #151515;
	--color-background-dark: #070707;
	--color-background-light: #202023;
	--color-border: #282828;
}
