@import "../../../../styles/base/mixins";

.root {
	position: relative;
	overflow: hidden;
	background-color: var(--color-recent-item);
	border-radius: var(--min-border);
	transition: background-color 0.3s ease 0s;

	&:hover {
		background-color: var(--color-recent-item-hover);
	}
}

.body {
	display: flex;
	align-items: center;
	column-gap: rem(16);
}

.image {
	box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

.title {
	font-weight: 600;
}

.button {
	position: absolute;
	right: rem(15);
	bottom: 0;
	width: rem(42);
	height: rem(42);
	background-color: var(--color-tertiary);
	border-radius: 50%;
	transform: translateY(50%);
	opacity: 0;
	transition: all 0.3s ease 0s;

	&::before {
		position: absolute;
		top: 50%;
		left: 55%;
		border-right: 10px solid transparent;
		border-bottom: 14px solid var(--color-main);
		border-left: 10px solid transparent;
		transform: translate(-50%, -50%) rotate(90deg);
		transition: all 0.3s ease 0s;
		content: "";
	}

	.root:hover & {
		bottom: 50%;
		opacity: 1;
	}

	&:hover {
		transform: translateY(50%) scale(1.1);

		&::before {
			border-bottom: 14px solid var(--color-first);
		}
	}
}
