@import "../../../../styles/base/mixins";

.root {
	flex: 0 0 rem(68);
	background-color: var(--color-background-dark);
}

.containerWithoutMaxWidth {
	display: flex;

	min-height: 100%;
	flex-direction: column;
}

.body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	row-gap: rem(10);
}

.icon {
	fill: var(--color-main);
}
