@import "../../../../styles/base/mixins";

.root {
	display: flex;
	min-height: rem(90);
	background-color: var(--color-background);
	border-top: rem(1) solid var(--color-border);
}

.containerWithoutMaxWidth {
	display: flex;
	flex: 1 1 auto;
}

.body {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: space-between;
	column-gap: rem(15);
}

.playerTrackInfo {
	width: 30%;
	min-width: rem(100);
}

.player {
	width: 40%;
}

.playerActions {
	width: 30%;
	min-width: rem(100);
}
