@import "../../../../styles/base/mixins";

.root {
}

.nav {
	position: absolute;
	z-index: 5;
	right: rem(15);
	bottom: rem(10);
	min-width: rem(126);
	min-height: rem(54);
	padding: rem(5);
	border-radius: var(--min-border);
	background-color: var(--color-tertiary);
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.3s ease 0s;
	visibility: hidden;

	&.active {
		bottom: 0;
		opacity: 1;
		visibility: visible;
	}
}

.userName {
	position: relative;
	padding: rem(5) rem(25) rem(5) rem(10);
	border-radius: rem(20);
	background-color: var(--color-background);
	font-size: rem(14);
	font-weight: 600;
	transition: all 0.3s ease 0s;

	&:hover {
		background-color: var(--color-tertiary);
	}

	&.active {
		background-color: var(--color-tertiary);
	}

	&::after {
		position: absolute;
		top: 50%;
		right: rem(8);
		width: 0;
		height: 0;
		border-top: 6px solid var(--color-font);
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		content: "";
		transform: translateY(-40%);
	}
}

.body {
}

.item {
}

.link {
	display: inline-block;

	width: 100%;
	padding: rem(8) rem(5);
	border-radius: var(--min-border);

	font-size: rem(14);
	font-weight: 600;

	line-height: normal;

	text-align: left;

	&:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}
}
