@import "../../../../styles/base/mixins";

.root {
	display: flex;
	align-items: center;
	column-gap: rem(15);
}

.image {
}

.body {
	display: flex;
	flex-direction: column;
	row-gap: rem(15);
}

.link {
	&:hover {
		text-decoration: underline;
	}
}

.title {
	font-size: rem(14);
}

.author {
	color: var(--color-gray);
	font-size: rem(12);
}
