@import "../../../../styles/base/mixins";
@import "../../../../styles/vars/forMixins";

.root {
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: rem(10);

	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}

.button {
	display: inline-flex;
	flex: 0 0 rem(32);
	align-items: center;
	justify-content: center;
	width: rem(32);
	height: rem(32);
	color: var(--color-first);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--color-second);
	}

	svg {
		fill: currentcolor;
	}
}

.body {
	display: flex;
	align-items: center;
	column-gap: rem(10);
}

.timestamps {
	color: var(--color-gray);
	font-size: rem(12);
}

.range {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	height: rem(5);
	background-color: var(--color-progress);
	border-radius: var(--min-border);

	&:hover {
		.rangeDot {
			opacity: 1;
		}

		.rangeLine {
			background-color: var(--color-second);
		}
	}
}

.rangeLine {
	width: 0%;
	height: 100%;
	background-color: var(--color-first);
	border-radius: var(--min-border);
}

.rangeDot {
	position: absolute;
	top: 50%;
	left: 0;
	width: rem(12);
	height: rem(12);
	background-color: var(--color-second);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.rangeLine,
.rangeDot {
	pointer-events: none;
}

.controls[type="range"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: rem(5);
	opacity: 0;
}
