@import "../../../../styles/base/mixins";
@import "../../../../styles/vars/forMixins";

.root {

	min-height: 100%;
	border-radius: var(--min-border);
	overflow-y: auto;
}

.containerWithoutMaxWidth {
}

.body {
	display: grid;
	gap: rem(25);
	grid-template-columns: repeat(4, 1fr);

	@media (max-width: $tablet) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $mobileSmall) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.item {
}
