%listCounter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: counter(item);
			counter-increment: item;
		}
	}
}

%responsiveVideo {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -100;
		width: auto;
		min-width: 100%;
		height: auto;
		min-height: 100%;
		background-size: cover;
		transform: translateX(-50%) translateY(-50%);
	}
}

%grayfilter {
	filter: grayscale(1);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}

%noselect {
	user-select: none;
}

%mirror {
	transform: scale(-1, 1);
}

%smoothscroll {
	-webkit-overflow-scrolling: touch;
}

%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
