@import "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

@font-face {
	font-weight: 700;
	font-family: "Druk Wide";
	font-style: normal;
	src: url("fonts/DrukWide-Bold.ttf");
	src: local("fonts/DrukWide-Bold"), local("DrukWide"),
		url("fonts/DrukWide-Bold.woff") format("woff"), url("fonts/DrukWide-Bold.woff2") format("woff2"),
		url("fonts/DrukWide-Bold.ttf") format("truetype");
}
